FLASK_APP=project/__init__.py
FLASK_DEBUG=0
DATABASE_URL=postgresql+psycopg2://PLACEHOLDER_PROD_USER:PLACEHOLDER_PROD_PASSWORD@db:5432/PLACEHOLDER_PROD_DB_NAME
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres
APP_FOLDER=/home/app/web
