FLASK_APP=project/__init__.py
FLASK_DEBUG=1
APP_SETTINGS=project.config.Config
DATABASE_URL=postgresql+psycopg2://PLACEHOLDER_USER:PLACEHOLDER_PASSWORD@db:5432/PLACEHOLDER_DB_NAME
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres
APP_FOLDER=/usr/src/app

# Postgres Container Initialization Keys
POSTGRES_USER=PLACEHOLDER_USER
POSTGRES_PASSWORD=PLACEHOLDER_PASSWORD
POSTGRES_DB=PLACEHOLDER_DB_NAME
