# Environment files
.env.dev
.env.prod
.env.prod.db

# Python virtual environment
env/
venv/
__pycache__/
*.pyc

# Block uploaded media files from being tracked
services/web/project/media/*

# Except the .gitkeep file itself
!services/web/project/media/.gitkeep
